@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');

* {
  box-sizing: border-box;  
}

.container {
    margin: 1rem;
    text-align: center;
    
}

.nav {
    background-color: #BA0C2F;
    font-family: 'Manrope', sans-serif ;
    color: rgb(255, 253, 253);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}
  
.site-title {
    font-size: 2rem;
    color: green;
    
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}
  
.nav a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.6rem;
}
  
.nav li.active {
    background-color: #f76262;
}
  
.nav li:hover {
    background-color: #da2e2e6a;
}